.custom-img-size {
    width: 250px; /* Cambia el valor según el ancho deseado */
    height: 250px; /* Cambia el valor según la altura deseada */
  }
  #candidatosContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que las cards se envuelvan en caso de que haya muchas */
  }

  #img-contacto {

    width: 50px;

  }

cite {
    padding: 10px;
    text-align: center;
   
  }